:root {
  --bg-primary: #191922;
  --bg-secondary: #262838;
  --bg-tertiary: #2c2e40;
  --text-primary: #FFFFFF;
  /* --text-secondary: #686D81; */
  --text-secondary: #9494ac;
  --color-primary: #38BDD4;
  --border: #464650;
  --color-danger: #FF4D4F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  min-height: 100vh;
}

.primary-text {
  color: var(--text-primary);
  font-size: 24px;
}

.secondary-text {
  color: var(--text-secondary);
  font-size: 14px;
}