:root {
  --bg-primary: #191922;
  --bg-secondary: #262838;
  --bg-tertiary: #212230;
  --text-primary: #FFFFFF;
  /* --text-secondary: #686D81; */
  --text-secondary: #9494ac;
  --text-muted: #6B6C82;
  --color-primary: #38BDD4;
  /* --border: #464650; */
  --border:#292a3c;
  --color-danger: #FF4D4F;
  --success: #4ADE80;
  --success-dim: rgba(74,222,128,0.12);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  min-height: 100vh;
}

.primary-text {
  color: var(--text-primary);
  font-size: 24px;
}

.secondary-text {
  color: var(--text-secondary);
  font-size: 14px;
}

main{
  padding:0 26px;
  padding-bottom: 24px;
}