#dashboard-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

#topbar{
  height: 90px;
  border-bottom: 1px solid var(--border);
  /* width: 85vw; */
  width: 100%;
  padding: 0px 26px;
  /* margin: 0 32px; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px
}

#topbar-title{
  color: var(--text-white);
  font-size: 18px;
  font-weight: 600;
}

#topbar-message{
  color: var(--text-muted);
  font-size: 12px;
  margin-top: 2px;
}